<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaos.mapper.IEventMapper">
    <resultMap id="table2Po" type="com.chaos.po.Event">
        <id property="id" column="id"></id>
        <result property="eventTime" column="event_time"></result>
        <result property="eventType" column="event_type"></result>
        <result property="correctScale" column="correct_scale"></result>
        <result property="predictType" column="predict_type"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>
    <select id="listAll" resultMap="table2Po">
        select * from t_event ORDER  by event_time ASC
    </select>

    <select id="listAllReal" resultMap="table2Po">
        select * from t_event where predict_type=0 and event_type in(1,2) ORDER  by event_time ASC
    </select>

    <insert id="save" parameterType="com.chaos.po.Event">
        INSERT  INTO t_event(event_time,event_type,event_desc,correct_scale,predict_type) VALUES (#{eventTime},#{eventType},#{eventDesc},#{correctScale},#{predictType})
    </insert>
</mapper>